##############################################################
##############################################################
## INSTRUCTIONS                                             ##
##                                                          ##
## If you want to add new rules to this file                ##
## follow the following steps:                              ##
##  1. Add the new rule                                     ##
##  2. After added the rule save and close this file        ##
##  3. In your git repository run the following commands    ##
##  to update git cache:                                    ##
##     > git rm -r --cached .                               ##
##     > git add .                                          ##
##     > git commit -m "Updating .gitignore"                ##
##                                                          ##
##############################################################
##############################################################

/.idea
/.buildpath
/.project
/.settings/


# VIM files
[._]*.s[a-w][a-z]
[._]s[a-w][a-z]


# SASS Ignore 
skin/frontend/oppa/*/.sass-cache/
*.css.map
*.sass-cache/*

